<h3>My Carts</h3>

<new-cart controller='carts'></new-cart>

<div ng-repeat='cart in carts.carts'  ng-init='carts.cOMessage=false'>
  <div id='checout_message' ng-show='carts.cOMessage'>
    Stellar Purchace! You will recieve an email confirmation shortly.
  </div>
  <ul>
    <strong>Cart {{$index + 1}}</strong>
    <cart id='cart.id' finished='!carts.cOMessage'></cart>
    <button ng-show='!carts.cOMessage' ng-click='carts.checkout(cart.id)'>Checkout</button>
    <button ng-show='!carts.cOMessage' ng-click='carts.deleteCart(cart.id)'>Delete Cart</button>
  </ul>

</div>
