
<div ng-if='cartItem.data' ng-init='showQuantForm = false'>

    <div ng-repeat='product in cartItem.data | cartItemsFilter' ng-init='product.quantity = 1'>
      <p>{{product.name}}</p>
      <p>${{product.price}}</p>
      <p> Order Quantity: {{ product.quantity }}</p>
      <button ng-click='showQuantForm = true' ng-show='!showQuantForm'>Change Quantity</button>
        <div ng-show='showQuantForm'>
          <form action="" ng-submit='cartItem.changeQuant(cartItem.id, product.id);'>
            How many do you need? <input type="number" ng-model='cartItem.quantity'>
            <input type="submit" value='Submit'>
          </form>
        </div>
      <br><br>
  </div>

  <br>

  <strong>Total: {{ cartItem.getTotal() }}</strong>
</div>
