<h2> {{ category.category.name }} </h2>

<div id='filters' ng-init='min = 0; max= 10000'>
  <p>Search Products:
      <input
      type="text"
      ng-model='search'>
  </p>
  <p> Min: $
      <input
      type="number"
      ng-model='min'>
      Max: $
      <input
      type="number"
      ng-model='max'>
  </p>
  <button ng-click="sort = '-price'; reverse = !reverse">Reverse Price Order</button>
</div>

<ul ng-repeat='product in category.products | filter:search | priceFilter:min:max | orderBy:sort:reverse'>
  <product-item product='product'></product-item>
</ul>
