<div class='header_content'>
<h3 >The Best products in the world. Ever.</h3>
</div>
  <div id='login_div' class='header_content' ng-click='home.show_login_form = true' ng-show='!home.user'>
    Login
  </div>

  <div id='logout_div' class='header_content' ng-click='home.logout()' ng-show='home.user'>
    Logout
  </div>

  <div id="category_div" class='header_content'>
    <span ng-repeat='category in home.categories'>
      <a class='cat_tab' href='' ui-sref='category({name: category.name.split(" ").join("-")})'>{{category.name}}</a>
    </span>
  </div>

<!-- header content-->
<!-- header content-->


<div id='home_wrapper'>

  <div id='login_form' ng-show='home.show_login_form'>
    <span id='close_form' ng-click='home.show_login_form=false' >close</span>
    <form ng-submit="home.submit_login_form(); home.show_login_form=false;" name='login_form'>
        Email:
        <p><input type='email'
                name='email'
                required='required'
                ng-model='home.email' /></p>

        <div ng-if='login_form.email.$touched'>
          <div ng-if='login_form.email.$error.required'>
            Email is required.
          </div>
          <div ng-if='login_form.email.$error.email'>
            Email must be valid.
          </div>
        </div>

        Password:
          <p><input type='password'
                  name='password'
                  required='required'
                  minlength='8'
                  ng-model='home.password' /></p>
        <div ng-if='login_form.password.$touched'>
          <div ng-if='login_form.password.$error.required'>
            Password is required.
          </div>
          <div ng-if='login_form.password.$error.minlength'>
            Password must be longer than 8 characters.
          </div>
        </div>
      <input type="submit" value='Submit'>
    </form>
  </div>



  <div ng-show='home.user'>
    {{ home.message }}
  </div>

  <p>Search
      <input
      type="text"
      ng-model='home.search'>
  </p>

  <ul ng-repeat='product in home.allProducts | filter:home.search'>
    <li>
      <p class='product'>{{product.name}}</p>
      <p>Price: {{product.price}}</p>
      <p>Only: {{product.inventory}} left!</p>
    </li>
  </ul>

</div>
