<div class='header_content'>
<h3 >The Best products in the world. Ever.</h3>
message: {{ home.message }}
</div>
  <div id='login_div' class='header_content' ui-sref='home.login' ng-show='!home.user'> <!--ng-click='home.show_login_form = true'-->
    Login
  </div>

  <div id='logout_div' class='header_content' ng-click='home.logout()' ng-show='home.user'>
    Logout
  </div>

  <div id="category_div" class='header_content'>
    <a class='cat_tab' href='' ng-click='home.clearActive()' ui-sref='home.index'>Home</a>

    <span ng-repeat='category in home.categories'>
      <span class="account-heading" ng-class="{active : home.activeMenu === category}">
        <a class='cat_tab' href='' ng-click="home.setActive(category)" ui-sref='home.category({name: category.name.split(" ").join("-")})'>{{category.name}}</a>
      </span>
    </span>
  </div>

<!-- header content-->
<!-- header content-->


<div id='home_wrapper'>

<ui-view></ui-view>


</div>
