<li>
  <a class="product" ui-sref="home.product({id: product.product.id})">{{product.product.name}}</a>
  <button id="add_cart" ng-click="product.getCartIndex();">Add To Cart</button>
  <p>Price: {{ product.product.price }} </p>
  <p>Only: {{ product.product.inventory }} left! </p>
</li>
<div ng-show='product.askCart'>
  <p>Which cart would you like to add to?</p>
  <div ng-repeat='cart in product.carts'>
    <input type="checkbox" ng-model='product.active' ng-change='product.setActiveCart(cart.id);'><span>ID#{{cart.id}}</span> -- <span>Last Modified:{{cart.updated_at | date:short}}</span>
  </div>
</div>
