  <li>
    <div class="product_item" >
      <a class="product" ui-sref="home.product({id: product.product.id})">
        <img class='product_index_image' ng-src="{{product.product.image_url}}" alt="{{product.product.name}} picture"/>
      </a>

      <div class='product_info'>
        <button id="add_cart" ng-click="product.getCartIndex();" ng-show='product.product.inventory > 0'>Add To Cart</button>
        <p>{{product.product.name}}</p>
        <p>{{ product.product.price | currency }} </p>
        <p ng-if='product.product.inventory === 0'> Sold Out! </p>
        <p ng-if='product.product.inventory !== 0'>Only {{ product.product.inventory }} left! </p>
      </div>
    </div>
  </li>
  <div ng-show='product.askCart'>
    <p>Which cart would you like to add to?</p>
    <div ng-show='product.carts.length > 0'>
      <div ng-repeat='cart in product.carts'>
        <input type="checkbox" ng-model='product.active' ng-change='product.setActiveCart(cart.id);'><span>ID#{{cart.id}}</span> -- <span>Last Modified:{{cart.updated_at | date:short}}</span>
      </div>
    </div>
    <div ng-show='product.carts.length === 0'>
      <new-cart controller='product'></new-cart>
    </div>
  </div>
