<div class="productWrapper" ng-init='leaveReview = false'>
  <img ng-src="{{product.product.image_url}}" class='product_image' alt="{{product.product.name}} picture"/>

  <h3>{{product.product.name}}</h3>
  <p>Price: {{product.product.price | currency}}</p>
  <p>Inventory: {{product.product.inventory}}</p>
  <br>
  Average User Rating: {{product.ratings | productRatingFilter}}
  <br>

  <button type="file" ngf-select="product.uploadImage($file, $invalidFiles, product.product.id)"
            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
        Select File</button>
  <br><br>
  <review product='product'></review>

  <div ng-repeat='rating in product.ratings | ratingFilter'>
    <div class='rating_div'>
      <p>Rating: {{rating.score}}</p>
      <p>{{rating.body}}</p>
      <p>{{rating.created_at | date:short}}</p>
      <p>How helpful is this rating: {{rating.comments | helpfulnessFilter}}</p>
      <br>
      <div ng-repeat='comment in rating.comments' class='rating_comment'>
        <p>{{comment.body}}</p>
        <p>Helpfulness: {{comment.score}}</p>
        <p>{{comment.created_at | date:short}}</p>
        <br><br>
      </div>
      <review r='rating.id' product='product'></review>
    </div>
  </div>
</div>
