<div class="productWrapper" ng-init='leaveReview = false'>
  Name: {{product.product.name}}
  <br>
  Price: {{product.product.price}}
  <br>
  Inventory: {{product.product.inventory}}
  <br>
  Average User Rating: {{product.ratings | productRatingFilter}}
  <br>
  <review product='product'></review>

  <div ng-repeat='rating in product.ratings | ratingFilter'>
    <div class='rating_div'>
      <p>Rating: {{rating.score}}</p>
      <p>{{rating.body}}</p>
      <p>{{rating.created_at | date:short}}</p>
      <p>How helpful is this rating: {{rating.comments | helpfulnessFilter}}</p>
      <br>
      <div ng-repeat='comment in rating.comments' class='rating_comment'>
        <p>{{comment.body}}</p>
        <p>Helpfulness: {{comment.score}}</p>
        <p>{{comment.created_at | date:short}}</p>
        <br><br>
      </div>
      <review r='rating.id' product='product'></review>
    </div>
  </div>
</div>
