<div class="productWrapper" ng-init='leaveReview = false'>
  Name: {{product.product.name}}
  <br>
  Price: {{product.product.price}}
  <br>
  Inventory: {{product.product.inventory}}
  <br>

  <review product='product'></review>

  <div ng-repeat='rating in product.ratings | ratingFilter'>
    <div class='rating_div'>
      <p>Rating: {{rating.score}}</p>
      <p>{{rating.body}}</p>
      <br>
      <div ng-repeat='comment in rating.comments'>
        <p>rating_id: {{comment.rating_id}}</p>
        <p>body: {{comment.body}}</p>
        <p>score: {{comment.score}}</p>
        <p>created_at: {{comment.created_at}}</p>
        <br><br>
      </div>
      <review r='rating.id' product='product'></review>
    </div>
  </div>
</div>
