<!DOCTYPE html>
<html>
<head>
  <title>ECommerceSite</title>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app'>



  <div id='main_header'>
    <!-- <h2>The Best products in the world. Ever.</h2>

    <div id='login_div' ng-click='home.show_login_form = true' ng-show='!home.user'>
      Login
    </div>

    <div id='logout_div' ng-click='home.logout()' ng-show='home.user'>
      Logout
    </div>

    <div id="category_div">
      <span ng-repeat='category in home.categories'>
        <a class='cat_tab' href='' ui-sref='category({name: category.name.split(" ").join("-")})'>{{category.name}}</a>
      </span>
    </div> -->

  </div>


<ui-view></ui-view>

</body>
</html>
