<!DOCTYPE html>
<html>
<head>
  <title>ECommerceSite</title>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app'>



<div id='angular_view'>
  <ui-view></ui-view>
</div>

<% if current_user_admin? %>
  <%= render partial: 'admin_dashboard', locals: { product: @product }%>
<% end%>

</body>
</html>
