<!DOCTYPE html>
<html>
<head>
  <title>ECommerceSite</title>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app'>



  <div id='main_header'>
  


  </div>


<ui-view></ui-view>

</body>
</html>
